<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <style>
        .link {
            stroke: #999;
            stroke-opacity: .6;
        }
    </style>


</head>
<body ng-controller="mainCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <label for="strLable">Main String: <input type="text" id="strLable" ng-model="strLable"></label>
            <label for="charLable">Sub String: <input ng-disabled="!strLable" type="text" ng-maxlength="75"
                                                      id="charLable" ng-model="charLable"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <svg ng-attr-width="{{width}}"
                     ng-attr-height="{{height}}">

                    <g transform="translate(80,80)">
                        <line ng-show="link.text" ng-repeat="link in links"
                              class="link"
                              ng-attr-stroke-width="{{link.strokeWidth}}"
                              ng-attr-x1="{{link.source.x}}"
                              ng-attr-y1="{{link.source.y}}"
                              ng-attr-x2="{{link.target.x}}"
                              ng-attr-y2="{{link.target.y}}">
                        </line>
                        <circle ng-show="node.text" ng-repeat="node in nodes"
                                style="fill:url(#toning);stroke:{{node.color}};stroke-width:1.6871;stroke-miterlimit:10;"
                                class="node"
                                ng-attr-r="{{node.r || 8}}"
                                ng-attr-cx="{{node.x}}"
                                ng-attr-cy="{{node.y}}">

                        </circle>
                        <text ng-show="node.text" ng-repeat="node in nodes" width="50" text-anchor="middle"
                              ng-attr-dy="{{node.y + 4}}" ng-attr-dx="{{node.x}}">{{node.text}}
                        </text>
                    </g>

                </svg>
            </div>
        </div>
    </div>
</div>
<script src="angular.min.js"></script>
<script src="d3.v3.min.js"></script>
<script src="app.js"></script>
</body>
</html>